<template>
	<div class="container text-center mt-20">
		<h2>Blog Exam</h2>
		<div class="row">
			<form id="addBlogForm" action="#" onSubmit="return false;" method="post">
              	<div class="form-group">
                    <label for="name" class="col-sm-4 control-label col-label">Name</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" name="title" placeholder="Name">
                        <small class="error r_title"></small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-4 control-label col-label">Description</label>
                    <div class="col-sm-12">
                        <textarea class="form-control" placeholder="Descrpiption" name="description"></textarea>
                        <small class="error r_description"></small>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-sm-4 control-label col-label">Image</label>
                    <div class="col-sm-12">
                        <input type="file" class="form-control" name="image">
                        <small class="error r_image"></small>
                    </div>
                </div>
                <div class="col-sm-offset-2 col-sm-12">
                 	<button type="submit" class="btn btn-block btn-primary login-button " name="submit">Save
                 	</button>
                </div>
            </form>
		</div>
		<hr>
		<table id="blogTable" class="table table-striped table-bordered" style="width:100%">
	        <thead>
	            <tr>
	                <th>Title</th>
	                <th>Description</th>
	                <th>Image</th>
	                <th>Edit</th>
	            </tr>
	        </thead>
	    </table>
	    <div class="modal fade" id="editFormModal" aria-hidden="true">
		    <div class="modal-dialog">
		        <div class="modal-content">
		            <div class="modal-header">
		                <h4 class="modal-title" id="modelHeading">Edit</h4>
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		            </div>
		            <div class="modal-body">
		                <form id="updateBlogForm" action="#" onSubmit="return false;" method="post">
		                	<input type="hidden" id="blog_id" name="blog_id">
		                	<input type="hidden" id="image_realname" name="image_realname">
			              	<div class="form-group">
			                    <label for="name" class="col-sm-4 control-label col-label">Name</label>
			                    <div class="col-sm-12">
			                        <input type="text" class="form-control" id="title" name="title" placeholder="Name">
			                        <small class="error ur_title"></small>
			                    </div>
			                </div>
			                <div class="form-group">
			                    <label for="name" class="col-sm-4 control-label col-label">Description</label>
			                    <div class="col-sm-12">
			                        <textarea class="form-control" placeholder="Descrpiption" name="description" id="description"></textarea>
			                        <small class="error ur_description"></small>
			                    </div>
			                </div>
			                <div class="form-group image-group">
			                </div>
			                <div class="col-sm-offset-2 col-sm-12">
			                 	<button type="submit" class="btn btn-block btn-primary login-button " name="submit">Save
			                 	</button>
			                </div>
			            </form>
		            </div>
		        </div>
		    </div>
		</div>
		<div id="deleteModal" class="modal fade" aria-hidden="true">
		    <div class="modal-dialog modal-confirm">
		        <div class="modal-content">
		            <div class="modal-header">
		                <div class="icon-box" style="margin:auto;">
		                </div>
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		            </div>
		            <div class="modal-body text-center">
		                <h4>Are you sure you want to delete it?</h4> 
		                <button class="btn btn-success btn-delete"><span>Yes</span></button>
		                <button class="btn btn-success" data-dismiss="modal"><span>No</span></button>
		            </div>
		        </div>
		    </div>
		</div>  
		<div id="addBlogSuccess" class="modal fade" aria-hidden="true">
		    <div class="modal-dialog modal-confirm">
		        <div class="modal-content">
		            <div class="modal-header">
		                <div class="icon-box" style="margin:auto;">
		                </div>
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		            </div>
		            <div class="modal-body text-center">
		                <h4>Great!</h4> 
		                <p>You added a Blog successfully.</p>
		                <button class="btn btn-success" data-dismiss="modal"><span>Ok</span></button>
		            </div>
		        </div>
		    </div>
		</div>  
		<div id="updateBlogSuccess" class="modal fade" aria-hidden="true">
		    <div class="modal-dialog modal-confirm">
		        <div class="modal-content">
		            <div class="modal-header">
		                <div class="icon-box" style="margin:auto;">
		                </div>
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		            </div>
		            <div class="modal-body text-center">
		                <h4>Awesome!</h4> 
		                <p>You update the Blog successfully.</p>
		                <button class="btn btn-success" data-dismiss="modal"><span>Ok</span></button>
		            </div>
		        </div>
		    </div>
		</div>  
		<div id="deleteSuccess" class="modal fade" aria-hidden="true">
		    <div class="modal-dialog modal-confirm">
		        <div class="modal-content">
		            <div class="modal-header">
		                <div class="icon-box" style="margin:auto;">
		                </div>
		                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		            </div>
		            <div class="modal-body text-center">
		                <p>You deleted the Blog successfully.</p>
		                <button class="btn btn-success" data-dismiss="modal"><span>Ok</span></button>
		            </div>
		        </div>
		    </div>
		</div>  
	</div>
</template>

<style type="text/css">
	.error{
		color:red;
	}
	.mt-20{
		margin-top: 5%;
	}
</style>